$blanco: #FFFFFF;
$mor-dark: #411067;
$mor-light: #930CC5;
$lila: #EA95FF;
$lila-light: #FCEEFF;
$bck: #400251;
$fuente: 'Raleway' , sans-serif;
$negrita: bold;
$gris: #A2A2A2;
$mr-bot: 20px;
$mr-lf: 10px;
$mr-t: 20px;
$em: 1.2em;
$negro: #000000;